[submodule "core/third/templates"]
	path = third/templates
	url = https://github.com/pxscope-swkang/templates.git
[submodule "third/nana"]
	path = third/nana
	url = https://github.com/pxscope-swkang/nana.git
