[submodule "core/third/templates"]
	path = third/templates
	url = https://github.com/kang-sw/templates.git
[submodule "core/third/fmt"]
	path = third/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "third/nana"]
	path = third/nana
	url = https://github.com/kang-sw/nana.git
